<div ng-controller="AuthCtrl as authCtrl"></div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div id="login-header">
      <h1>HISTORY OF YOU</h1>
      <div name="login-form">
        <form  id="login-form">
          <div>
            <input class="form-control" id="email" required type="email" ng-model="authCtrl.email" placeholder="Enter Email"/>
          </div>
          <div>
            <input class="form-control" id="password" required type="password" ng-model="authCtrl.password" placeholder="Enter Password"/>
          </div>
          <button class="btn btn-material-red" ng-click="authCtrl.login()" ng-show="authCtrl.email && authCtrl.password">Log in</button>

          <h3><u><a href="#/signup">Sign Up</a></u></h3>
        </form>
      </div>
    </div>
  </div>
</div>

