<md-content layout-align="space-between center">

<form ng-controller="AuthCtrl as authCtrl" name="form" class="register-form">

  <div class="email__register">
		<md-input-container>
		  <input class="form-control" id="reg-email" placeholder="Enter Email" ng-model="authCtrl.email" type="text"/>
		</md-input-container>
  </div>

  <br>

  <div class="password__register">
		<md-input-container>
	  	<input class="form-control" id="reg-password" placeholder="Enter Password" ng-model="authCtrl.password" type="password"/>
		</md-input-container>
  </div>

  <md-button href="#/" ng-click="authCtrl.register()">Sign Up</md-button>
</form>

</md-content>