<div ng-repeat="stories in usCtrl.stories_list | filter: query" layout-align="space-between center">

	<div ng-show="stories.name == usCtrl.myLocation">

	  <a href="#/stories/{{ stories.id }}" class="notActive" id="locationName">{{ stories.name }} </a>

	  <div>

	  	<a href="#/stories/{{ stories.id }}" class="notActive">{{ stories.description }}</a>

	  	<div>

	  		<a href="#/stories/{{ stories.id }}" class="notActive">{{ stories.alias }} </a>

	  			<br>

			</div>

		</div>

	</div>

</div>
