<h1 id="welcome2"><u>You</u></h1>

	<div id="youStyles">
		<div ng-repeat="stories in youCtrl.stories_list | filter: query" >
			<div ng-show='stories.uid == uid'>
			  <a href="#/stories/{{ stories.id }}" id="locationName">{{ stories.name }} </a>
			  <br>
			  <a href="#/stories/{{ stories.id }}">{{ stories.description }}</a>
			  <br>
			  <a href="#/stories/{{ stories.id }}">{{ stories.uid }} </a>
			  <br>
				<a class="btn btn-success" href="#/us/{{stories.name}}">Go To Here</a>
				<br>
			</div>
		</div>
	</div>