<h1 id="welcome2"><u>Your Story</u></h1>

<div>
	<input id="pac-input" class="controls" type="text" placeholder="Search Box" ng-model="yourMapCtrl.descriptionObj.name">
	<div id="map"></div>
	<br>
	<textarea type="text" id="storyBox" ng-model="yourMapCtrl.descriptionObj.description"></textarea>
	<br>
	<input type="text" style="width: 250px; text-align: center;" ng-model="yourMapCtrl.descriptionObj.alias" placeholder="Enter Your Name or a Pen Name">
	<br>
	<button type="submit" ng-click="yourMapCtrl.saveLocation()"> Save Your Story</button>
</div>	